<% content_for :title, "Editing uniform" %>

<h1>Editing uniform</h1>

<%= render "form", uniform: @uniform %>

<br>

<div>
  <%= link_to "Show this uniform", @uniform %> |
  <%= link_to "Back to uniforms", uniforms_path %>
</div>
